<form class="d-flex flex-column" method="post" action="{{ path('app_course_delete', {'id': course.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить этот курс?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
