{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="flex-column d-flex">
        <button class="btn btn-success">{{ button_label|default('Добавить') }}</button>
    </div>
{{ form_end(form) }}
