{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <div class="container">
    <h1>Добавить новый курс</h1>

    {{ include('course/_form.html.twig') }}

        <div class="d-flex flex-column">
            <a class="btn btn-success mt-2" href="{{ path('app_course_index') }}">Назад к списку</a>
        </div>
    </div>
{% endblock %}
