{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <div class="container">
        <h1>Добавление урока</h1>
        <h3><a class="text-decoration-none text-black" href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Курс: {{ lesson.course.name }}</a></h3>

        {{ include('lesson/_form.html.twig') }}

    </div>
{% endblock %}
