{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <h1>Create new Lesson</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_lesson_index') }}">back to list</a>
{% endblock %}
