{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>ДОСТУП ЗАПРЕЩЕН!</h1>

        <p class="h3">
            Страница существует, но у вас к ней доступа нет!
            Перейдите на <a href="{{ path('app_course_index') }}">главную страницу</a>.
        </p>
    </div>
{% endblock %}